* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black: #000;
	--blue-50: #eff6ff;
	--blue-100: #dbeafe;
	--blue-400: #60a5fa;
	--blue-600: #2563eb;
	--blue-900: #1e3a8a;
	--red: #ef4444;
}

html {
	font-family: 'Roboto', helvetica, sans-serif;
}

main {
	align-items: center;
	background-color: var(--blue-400);
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	justify-content: center;
	width: 100%;
}

form {
	align-items: center;
	background-color: var(--blue-50);
	border-radius: 8px;
	box-shadow: 0px 0px 10px 1px var(--blue-600);
	display: flex;
	flex-flow: column nowrap;
	height: 500px;
	justify-content: center;
	width: min(400px, 85%);
}

ul {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	row-gap: 30px;
	list-style: none;
	width: 75%;
}

ul > li {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 10px;
	width: 100%;
}

ul > li > ul {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	column-gap: 30px;
	width: 100%;
}

label {
	color: var(--black);
	font-size: 1rem;
	letter-spacing: 0.04rem;
}

label > span {
	color: var(--red)
}

input, button {
	background-color: var(--blue-100);
	border: 2px solid var(--blue-600);
	border-radius: 4px;
	color: var(--black);
	font-size: 1rem;
	font-weight: 500;
	height: 38px;
	text-align: center;
	padding: 0.5rem;
}

button {
	cursor: pointer;
	--webkit-appearance: none;
}

button[type="button"] {
	background-color: var(--blue-600);
	border: none;
	color: var(--blue-50);
}

input:focus,
button:focus {
	border: 3px solid var(--blue-900);
	outline: none;
}

input::placeholder {
	color: var(--blue-600);
	opacity: 0.6;
}

footer {
	align-items: center;
	background-color: var(--blue-400);
	box-shadow: 0px 0px 6px var(--blue-600);
	display: flex;
	height: 50px;
	justify-content: center;
	width: 100%;
}

a {
	color: var(--blue-50);
	font-size: 0.85rem;
	letter-spacing: 0.1rem;
	text-decoration: none;
	text-transform: capitalize;
	padding: 0.5rem 1rem;
}
