* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*
	#0b4e4e
	#f7cf07
	#319f65
	#f18a8a
*/

html {
	font-family: 'Roboto', helvetica, sans-serif;
}

body {
	background-color: #0b4e4e;
	width: 100%;
}

.main-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.sub-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: fit-content;
	max-width: 270px;
	width: 76%;
}

.result,
input,
button {
	align-items: center;
	background-color: transparent;
	border: 3px solid #319f65;
	border-radius: 3px;
	color: #fff;
	display: flex;
	font-size: 0.82rem;
	font-weight: 500;
	justify-content: center;
	letter-spacing: 0.1rem;
	margin-bottom: 1.2rem;
	height: 46px;
	text-align: center;
	padding: 0.5rem 0;
}

.result,
input {
	width: 100%;
}

.buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}
button {
	cursor: pointer;
	font-size: 0.85rem;
	height: 40px;
	text-align: center;
	-webkit-appearance: none;
}
button[type='button'] {
	background-color: #319f65;
	color: #fff;
	font-weight: 700;
	width: 47%;
}
button[type='reset'] {
	background-color: transparent;
	color: #319f65;
	font-weight: 700;
	padding: 0;
	width: 100%;
}

input:focus,
button:focus {
	border: 3px solid #f7cf07;
	outline: none;
}

::placeholder,
.greyed-out {
	color: rgba(245, 245, 245, 0.6);
	font-size: 0.8rem;
	font-weight: 400;
}

p,
a {
	color: rgba(255, 255, 255, 0.8);
	font-size: 0.7rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	text-align: center;
}

a {
	padding: 0 0.25rem 0 0.5rem;
}

footer {
	align-items: center;
	background-color: #0b4e4e;
	box-shadow: 0px 0px 4px #319f65;
	display: flex;
	height: 50px;
	justify-content: center;
	width: 100%;
}
footer a {
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	padding: 0;
}
footer > a > .icon-heart {
	color: #f7cf07;
	font-size: 0.75rem;
	margin: 0 0.1rem;
}

@media (min-width: 1000px) {
	.main-container {
		min-height: calc(100vh - 50px);
	}
}
